apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openclaw.fullname" . }}-config
  labels:
    {{- include "openclaw.labels" . | nindent 4 }}
data:
  {{- $gatewayAuth := dict "mode" .Values.gateway.auth.mode "token" "${GATEWAY_AUTH_TOKEN}" }}
  {{- if .Values.gateway.auth.allowTailscale }}
  {{- $_ := set $gatewayAuth "allowTailscale" true }}
  {{- end }}
  {{- $gatewayControlUi := dict "allowInsecureAuth" .Values.gateway.controlUi.allowInsecureAuth }}
  {{- $gateway := dict "bind" .Values.gateway.bind "port" (int64 .Values.gateway.port) "auth" $gatewayAuth "controlUi" $gatewayControlUi }}
  {{- $merged := merge (dict "gateway" $gateway) .Values.config }}
  openclaw.json: |
{{ mustToPrettyJson $merged | indent 4 }}
